$font-primary: 'Quicksand', sans-serif;

body {
	font-family: $font-primary;
}

.drawer-none-scrolling {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}

// CHIP
.chip-sm {
	border-radius: 5px;
	padding: 9px 8px;
	cursor: pointer;
	background: #1d2539;
	border: 1px solid #1d2539;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in-out;
	.chip-label {
		margin-left: 3px;
		color: #fff;
		font-size: small;
	}
	.chip-button {
		margin-left: 10px;
		color: #fff;
	}
}

// CHECKBOX
.style-checkbox {
	border-radius: 3px;
	appearance: none;
	color: #000;
	background: #fff;
	border: 1px solid #c2c2c2;
	// &:hover {
	//     background:lighten(#D9D9D9, 5%);
	// }
	&:checked {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
		color: #fff !important;
		background-color: #1d2539;
		border: 2px solid #1d2539;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
	opacity: 0;
}
